// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.custom-wrapper {
    padding-top: 60px;
    min-height: calc(100vh - 60px);
}

nav.navbar {
    height: 60px;
    background-color: #4056F4 !important;
    color: white !important;
    a {
        color: white !important;
    }
}

#navbarNav {
    background-color: #4056F4 !important;
    color: white !important;

    ul {
        margin: 10px;
    }
}

body {
    min-height: 100vh;
}

footer {
    min-height: 10vh;
    background-color: rgb(125, 156, 241);
    color: white;
}

span.vf {
    color: #e60000;
    font-weight: 200;
}
