// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$activeNavBg: #4056F4;
$inactiveNavBg: #efefef;
$activeNavText: white;
$inactiveNavText: #222;

nav.navbar {
    height: 60px;
    background-color: $inactiveNavBg !important;
    color: $inactiveNavText !important;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.43); 
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.25);
    transition: background-color 1s;

    &.active {
        background-color: $activeNavBg !important;
        color: $activeNavText !important;
        .navbar-collapse {
            background-color: $activeNavBg !important;
        }
        a {
            color: $activeNavText !important;
        }
    }
    a {
        color: $inactiveNavText !important;
        transition: color 1s;
    }
    
    .navbar-collapse {
        background-color: $inactiveNavBg !important;
        color: $inactiveNavText !important;
        transition: background-color 1s;

        ul {
            margin: 10px;
        }
    }
}


body {
    min-height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(217,217,246,1) 85%, rgba(193,212,254,1) 100%);
}

.custom-wrapper {
    padding-top: 60px;
    min-height: calc(100vh);
    scroll-snap-align: start;
}

.container {
    min-height: 100vh;
}

footer {
    min-height: 10vh;
    background-color: #3B578E;
    color: white;
}

span.vf {
    color: #e60000;
    font-weight: 200;
}
