<h2 id="contact">Contact</h2>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="manuvai-rehua" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/manuvai-rehua?trk=profile-badge"></a></div>

    </div>
    <div class="col-md-8 col-sm-12">
        <form action="">
            <div class="form-group mb-4">
                <label for="name">Nom & pr&eacute;nom :</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Entrez votre nom">
            </div>
            <div class="form-group mb-4">
                <label for="email">Votre email :</label>
                <input type="email" class="form-control" id="email" placeholder="mail@example.fr">
            </div>
            <button type="submit" class="mt-8 btn btn-primary">Envoyer un message</button>
        </form>
    </div>
</div>
