<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    
    <div class="col-lg-8 col-sm-6 lead" [innerHTML]="settings.introduction_text"></div>
    <div class="col-lg-4 col-sm-6">
        <img src="{{'https://admin.manuvai-rehua.fr/storage/' + settings.hero_image_path}}" class="img-fluid" alt="" srcset="">
    </div>
</div>
<h2>Mes contributions Github</h2>
<div class="row row-cols-12 g-4 py-5">
    <a href="{{settings.github_link}}">
        <img src="https://ghchart.rshah.org/manuvai" alt="" class="img-fluid w-100">

    </a>
</div>

